/**************
 * Author: G.Boeselager
 * 
 * This file contains the styles for the project.
 **************/

body{
    /*font-family: georgia, Helvetica, impact, tahoma, arial;*/
    font-family: arial;
    font-size: 10pt;
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* styles for the list of cars */
#cardetails{
    float: left;
    clear: both;
    width: 900px;
    color: black;
    vertical-align: top;
    background-color: #dedede;
    margin-bottom: 10px;
    border-bottom: 5px solid white;
}
#cardetails div{
    float: left;
    margin: 10px;
}
#cardetails #picture{
    float: left;
    width: 200px;
}
#cardetails #left{
    float: left;
    width: 200px;
}
#cardetails #center{
    float: left;
    width: 200px;
}
#cardetails #right{
    float: left;
    width: 200px;
}

table.detail{
    color: black;
    font-size: 12pt;
}

table.detail td{
    vertical-align: top;
}

input[type=text].large{
    border: 3px solid #54a8de;
    font-size: 14pt;
    color: gray;
}

select.locationPicker{
    width: 170px;
    font-size: 19pt;
    color: gray;
}

#head{
    background-image: url(Bilder/bg-top.png);
    float: left;
    height: 103px;
    width: 100%;
}

#head #logo{
    background-image: url(Bilder/bg-top-logo.png);
    float: left;
    height: 103px;
    width: 593px;
}

#content{
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.box {
    float:left;
    margin-right: 20px;
    height: 130px;
    background-image: url(Bilder/bg-box.png);
    border: 5px solid #54a8de;
}

.hWhite {
    color: white;
    font-size: 18pt;
    font-weight: normal;
}

#btSend{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
}